@media(min-width:0px){
    
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width:  50%;}
    .col-s-7{width: 58%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 93.66%;}
    .col-s-12{width:  100%;}
    
    }
    @media(min-width:768px){
        
        .col-m-1{width: 8.33%;}
        .col-m-2{width: 16.66%;}
        .col-m-3{width: 25%;}
        .col-m-4{width: 33.33%;}
        .col-m-5{width: 41.66%;}
        .col-m-6{width:  50%;}
        .col-m-7{width: 58%;}
        .col-m-8{width: 66.66%;}
        .col-m-9{width: 75%;}
        .col-m-10{width: 83.33%;}
        .col-m-11{width: 93.66%;}
        .col-m-12{width:  100%;}
        
        }
        
        *{
            box-sizing: border-box;
        }
        
    
#foto{
    background-image: url(https://picsum.photos/seed/picsum/600/300);
    height: 10em;
    align-items: flex-end;
}

.text-center{
    text-align: center;
}
.teal{
    background-color:red;
}
.text-white{
    color: white;
}
.p-1{
    padding: 1em;
}
.pres-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.r{
    background-color:red
}
.a{
background-color: blue;
}
.m{
background-color: blueviolet;
}
.am{
background-color: yellow;
}
.v{
    background-color: green;

}
.n{
background-color: orange;
}

.flex-container {
    background-color: brown;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: center;
    height: 200px;
    align-items: center;
    align-content: center;
}

.flex-container div {
    background-color: cadetblue;
    font-size: 2em;
    padding: 0.5em;
    margin: 0.25em;
}